/* fonts */

@font-face {
  font-family: 'AmericanTypewriter';
  src: url('../fonts/AmericanTypewriter.ttc');
}

@font-face {
  font-family: 'FiraSansCondensed';
  src: url('../fonts/FiraSansCondensed-Regular.ttf');
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('../fonts/IBMPlexSans-Bold.ttf');
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('../fonts/IBMPlexSans-BoldItalic.ttf');
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('../fonts/IBMPlexSans-Italic.otf');
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('../fonts/IBMPlexSans-Medium.ttf');
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('../fonts/IBMPlexSans-SemiBold.ttf');
}

@font-face {
  font-family: 'IBMPlexSerif';
  src: url('../fonts/IBMPlexSerif-Bold.ttf');
}

@font-face {
  font-family: 'IBMPlexSerif';
  src: url('../fonts/IBMPlexSerif-Italic.ttf');
}

@font-face {
  font-family: 'IBMPlexSerif';
  src: url('../fonts/IBMPlexSerif-Light.ttf');
}

@font-face {
  font-family: 'IBMPlexSerif';
  src: url('../fonts/IBMPlexSerif-Regular.ttf');
}

@font-face {
  font-family: 'MinionPro';
  src: url('../fonts/MinionPro-Regular.otf');
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url('../fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
  font-family: 'RobotoSlab';
  src: url('../fonts/RobotoSlab-Regular.ttf');
}

@font-face {
  font-family: 'Webdings';
  src: url('../fonts/Webdings.ttf');
}

@font-face {
  font-family: 'Wingdings';
  src: url('../fonts/Wingdings.ttf');
}

/* variables */

:root {
  --menu-bg: #191919;
  --box-shadow: rgb(25, 25, 25, 0.3);
  --green-accent1: #118580;
  --green-accent2: #7f912b;
  --orange-accent1: #f79518;
  --orange-accent2: #ffe696;
  --orange-accent3: #ffcb00;
  --orange-accent4: #fffced;
  --blue-accent1: #0088bf;
  --red-accent1: #dd2d41;
  --red-accent2: #f2d6d5;
  --red-accent3: #f8e8e8;
}

/* small reset */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* document */

body {
  font-size: 14px;
  font-family: 'IBMPlexSerif';
}

/* document header */
.header {
  box-shadow: 2px 0 2px -1px var(--menu-bg);
}

.header .header-nav {
  display: grid;
  grid-template-columns: 1fr min-content;
}

.header .menu-button,
.footer .footer-button {
  width: 44px;
  aspect-ratio: 1;
  background-color: var(--green-accent1);
  border-radius: 5px;
}

.header .menu-button:focus {
  background-color: var(--orange-accent1);
}

/* content */

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  row-gap: 20px;
}

/* page 34 and 35 */

.content .page-34-header-list li,
.content .page-35-header-list li {
  padding: 10px 10px 10px 10px;
  display: flex;
  align-items: flex-end;
}

/* page 34 */

.page-34 {
  box-shadow: -4px 8px 10px var(--box-shadow), 4px 8px 10px var(--box-shadow);
}

/* page 34 header */

.content .page-34-header-list {
  display: grid;
  grid-template-columns: 48px 1fr;
  grid-template-rows: 1fr 1fr;
}

.content .page-34-header-list :nth-child(2) {
  grid-area: 2 / 1 / 3 / span 2;
}

.content .page-34-header-list :last-child {
  justify-content: flex-end;
}

/* page 34 content */

.page-34-content > h1 {
  font-family: 'Fi', sans-serif;
  letter-spacing: 0.5px;
}

/* page 34 content intro */

.page-34-intro {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  row-gap: 10px;
}

/* page 34 content diftong */

.diftong .diftong-repere-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
}

.diftong .diftong-repere-section .diftong-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-self: center;
}

.diftong .diftong-repere-section .diftong-images :nth-child(1) {
  grid-area: 1/1/2 / span 2;
}

.diftong .diftong-repere-section .diftong-images :nth-child(2) {
  grid-area: 2/2/3 / span 2;
}

/* page 35 */

.page-35 {
  box-shadow: -4px 8px 10px var(--box-shadow), 4px 8px 10px var(--box-shadow);
}

/* page 35 header */

.content .page-35-header-list {
  display: grid;
  grid-template-columns: 1fr 48px;
  grid-template-rows: 1fr 1fr;
}

.content .page-35-header-list :nth-child(2) {
  grid-area: 2 / 1 / 3 / span 2;
}

/* page 35 content */

/* page 35 triftong repere section */

.page-35-content .triftong-repere-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
}

/* page 35 hiat repere section */

.page-35-content .hiat-repere-section {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

/* page 35 app section */

.page-35-content .app-section .app-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: min-content;
  column-gap: 2px;
}

.page-35-content .app-section .app-table-body {
  grid-template-rows: 100%;
  margin-top: 2px;
}

.page-35-content .app-section .app-section-poezie {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 768px) {
  .page-35-content .app-section .app-section-poezie {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

@media (min-width: 1024px) {
  .header {
    border-radius: 0 10px 10px 0;
  }

  .header .header-nav {
    display: block;
  }

  .header .menu-button:hover,
  .footer .footer-button:hover {
    background-color: var(--orange-accent1);
  }

  /* content */

  /* page 34 */

  .page-34 {
    box-shadow: -4px 8px 10px var(--box-shadow);
  }

  /* page 34 header */

  .content .page-34-header-list {
    grid-template-columns: 48px 3fr 1fr;
    grid-template-rows: 1fr;
  }

  .content .page-34-header-list :nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
  }

  .content .page-34-header-list :last-child {
    justify-content: flex-start;
  }

  /* page 35 */

  /* page 35 header */

  .content .page-35-header-list {
    grid-template-columns: 1fr 3fr 48px;
    grid-template-rows: 1fr;
  }

  .content .page-35-header-list :nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
  }

  .content .page-35-header-list :nth-child(1) {
    justify-content: flex-end;
  }

  /* page 35 content */

  .page-35-content .app-section .app-section-poezie {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

@media (min-width: 1280px) {
  /* content */

  .content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  /* page 34 and 35 header */

  .content .page-34-header-list li,
  .content .page-35-header-list li {
    padding: 20px 10px 10px 10px;
  }

  /* page 34 content */

  .page-34-intro {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    column-gap: 10px;
  }

  .diftong .diftong-repere-section {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
  }

  /* page 35 content */

  .page-35-content .triftong-repere-section {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
  }

  .page-35-content .app-section .app-section-poezie {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
